.commentCard {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  color: black;
  border-radius: 10px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  p {
    margin: 0;
  }

  p.comment {
    width: 100%;
  }
}

.comments {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
form {
  @extend .commentCard;

  label {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    input,
    textarea {
      border-radius: 5px;
      padding: 0.5rem;
      background-color: transparent;
      border: 1px solid #efefef;
      color: #000;
    }
  }
}
