#root {
  min-height: 100vh;
  min-width: 700px;
}

.navigation {
  display: flex;
  text-transform: uppercase;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    color: #fff;
  }
}
